<div id="feed-body" class="container">
  <div class="row">
    <div class="span8">
      <div class="corgi_feed_well">
        <% @items.each_with_index do |item, i| %>
            <div class="feed_stacked <%= 'last_feed_item' if i == @items.size - 1 %>">
              <% if item[0] == "{" %>
                <%= render partial: "feed_items/fragment", locals: { item: item } %>
              <% else %>
                <esi:include src="<%= feed_feed_item_path( item, :format => :esi ) %>" onerror="continue" />
              <% end %>
            </div>
        <% end %>
      </div>
    </div> <!-- end span8 -->
    <div class="span4">
      <div class="corgi_feed_well">
        <div class="sidebar_header">
          <div class="sidebar_title">
            <h4>Explanatory Sidebar</h4>
          </div>
        </div>
        <hr class="feed_hr" />
        <div class="sidebar_interior">
          <i class="icon-ok"></i> Note different render times on feed items
          <br/><br/>
          <i class="icon-ok"></i> This page isn't cached.
          <br/><br/>
          <i class="icon-hand-right"></i> Rendered at <%=  Time.now.utc.strftime( "%H:%M:%S" ) %> UTC
          <br/><br/>
        </div>
      </div>
    </div>
  </div>

</div>
