<!DOCTYPE html>
<html>
<head>
  <title>Varnishd Skillshare Test App</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Varnishd Skillshare Class</a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#contact" id="login-button">Login</a></li>
              <li></li>
              <li></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <%= yield %>

    <br/><br/>
    <div class="corgi_footer">
      <div class="container">
        <div class="row">
          <div class="span12">
            <ul>
              <li><a href="">These</a></li>
              <li><a href="">Are</a></li>
              <li><a href="">Just</a></li>
              <li><a href="">Dummy</a></li>
              <li><a href="">Links</a></li>
            </ul>
            <div class="corgi_copyright">
              &copy; 2013 Bootstrap Micro
            </div>
          </div>
        </div>
      </div>
    </div>



</body>
</html>
